[Unit]
Description=CloudedBats WIRC-2025 Infrared camera for bats 
After=network.target
### Before=nginx.service

[Service]
Restart=always
TimeoutStopSec=10s
User=wurb
WorkingDirectory=/home/wurb/wirc_2025_backend
ExecStart=/home/wurb/wirc_2025_backend/venv/bin/python3 /home/wurb/wirc_2025_backend/wirc_main.py

[Install]
WantedBy=multi-user.target