<div class="tile is-parent is-vertical">
    <article class="tile is-child box has-background-grey-lighter">

        <div class="field">
            <div class="container is-fluid">
                <div class="is-pulled-right">
                    <button class="delete is-large m-2" onclick="activateModulePreview()"></button>
                </div>
            </div>
        </div>

        <p class="title is-4 m-0">About</p>
        <p class="subtitle is-5 m-0">CloudedBats WIRC-2025</p>
        <p class="subtitle is-6">Version: {{ wurb_version }}</p>
        <div class="content">
            <p>
                CloudedBats WIRC-2025 is a Do-It-Yourself camera system for infrared light...
            </p>
            <p>
                <strong>Note: </strong>
                CloudedBats WIRC-2025 is under development. Read more on GitHub:
            <ul>
                <li>
                    <a href="https://github.com/cloudedbats/wirc_camera_basics">
                        https://github.com/cloudedbats/wirc_camera_basics
                    </a>
                </li>
                <li>
                    <a href="https://github.com/cloudedbats/wirc_2025_backend">
                        https://github.com/cloudedbats/wirc_2025_backend
                    </a>
                </li>
                <li>
                    <a href="https://github.com/cloudedbats/wirc_2025">
                        https://github.com/cloudedbats/wirc_2025
                    </a>
                </li>
            </ul>
            </p>
            <p>
                Developed by: Arnold&nbsp;Andreasson,&nbsp;Sweden.<br />
                Contact and feedback: info@cloudedbats.org
            </p>
        </div>
    </article>
</div>